# State files
.awaken-state.json

# Ignore obsidian artifact
src/.makemd/
src/.obsidian/
src/.space/

# --- Google Drive & System Artifacts (CRITICAL) ---
desktop.ini
Thumbs.db
.DS_Store
Icon?
._*


# Data files
*.xlxs
*.csv
*.pdf